<div class="comments">
    {{#each this}}
    <section class="comment">
        <div class='username'>
            {{User.name}}
        </div>
        <div class="comment-content">
            {{content}}
        </div>
    </section>
    {{/each}}
</div>