<div class="row">
  <div class="col-auto">
    <h1 style="text-align: center;">Welcome, {{name}}!</h1>
  </div>
</div>

{{#if pets.length}}
<section>
  <h2>Your Pets</h2>
    {{#each pets as |pet|}}
      <!--{{> dashboard-postinfo post}}-->
    {{/each}}

</section>
{{/if}}

<button type="submit" class="btn"><a class="link" href="/profile/new">New Pet</a></button>

<script src="/js/add-pet.js"></script>

<!--<h3 style="text-align: center;">Add New Pet:</h3>

<hr>

<div class="row mt-4">
  <div class="col-6">

    <form class="form new-pet-form" method="POST" id="new-pet-form">

      <div class="form-group">
        <label for="name"><h2>Pet name:</h2></label>
        <input class="form-input" type="text" id="name" name="name" />
      </div>

      <div class="form-group">
          <label for="animal_type"><h2>Species:</h2></label><br>
        
          <input type="radio" id="animal_type" name="animal_type" value="dog">
          <label for="dog">Dog</label><br>

          <input type="radio" id="animal_type" name="animal_type" value="cat">
          <label for="cat">Cat</label><br>

          <input type="radio" id="animal_type" name="animal_type" value="other">
          <label for="other">Other</label>
      </div>

      <div class="form-group">
        <label for="breed"><h2>Breed</h2></label>
        <input class="form-input" type="text" id="breed" name="breed"></input>
      </div>

      <div class="form-group">
        <label for="description"><h2>Description:</h2></label>
        <textarea class="form-input" id="description" name="description"></textarea>
      </div>

      <div class="form-group">
        <label for="age"><h2>Age:</h2></label>
        <input class="form-input" type="number" id="age" name="age" placeholder="provide age in years"></input>
      </div>

      <div class="form-group">
        <label for="gender"><h2>Gender:</h2></label><br>

        <input type="radio" name="gender" value="female">
        <label for="female">Female</label><br>

        <input type="radio" name="gender" value="male">
        <label for="male">Male</label><br>  
      </div>

      <div class="form-group">
        <label for="size"><h2>Size:</h2></label><br>

        <input type="radio" id="size" name="size" value="x-small">
        <label for="x-small">X-Small (less than 15lbs)</label><br>

        <input type="radio" id="size" name="size" value="small">
        <label for="small">Small (15-30lbs)</label><br>  

        <input type="radio" id="size" name="size" value="medium">
        <label for="medium">Medium (30-45lbs)</label><br>

        <input type="radio" id="size" name="size" value="large">
        <label for="large">Large (45-60lbs)</label><br>

        <input type="radio" id="size" name="size" value="x-large">
        <label for="x-large">X-Large (Greater than 60lbs)</label><br>  
      </div>

      <div class="form-group">
        <label for="good_with_kids"><h2>Good with kids?</h2></label><br>
        <input type="checkbox" id="good_with_kids" name="good_with_kids" value="true" /><br>
      </div>

  </div>
  <br>
  <br>
  <div class="col-6">

      <div class="form-group">
        <label for="good_with_cats"><h2>Good with cats?</h2></label><br>
        <input type="checkbox" id="good_with_cats" name="good_with_cats" value="true" /><br>
      </div>

      <div class="form-group">
        <label for="good_with_dogs"><h2>Good with dogs?</h2></label><br>
        <input type="checkbox" id="good_with_dogs" name="good_with_dogs" value="true" /><br>
      </div>

      <div class="form-group">
        <label for="zodiac"><h2>Zodiac sign:</h2></label><br>

        <input type="radio" id="zodiac" name="zodiac" value="capricorn">
        <label for="capricorn">Capricorn</label><br>

        <input type="radio" id="zodiac" name="zodiac" value="aquarius">
        <label for="aquarius">Aquarius</label><br>

        <input type="radio" id="zodiac" name="zodiac" value="pisces">
        <label for="pisces">Pisces</label><br>

        <input type="radio" id="zodiac" name="zodiac" value="aries">
        <label for="aries">Aries</label><br>

        <input type="radio" id="zodiac" name="zodiac" value="taurus">
        <label for="taurus">Taurus</label><br>

        <input type="radio" id="zodiac" name="zodiac" value="gemini">
        <label for="gemini">Gemini</label><br>

        <input type="radio" id="zodiac" name="zodiac" value="cancer">
        <label for="cancer">Cancer</label><br>

        <input type="radio" id="zodiac" name="zodiac" value="leo">
        <label for="leo">Leo</label><br>

        <input type="radio" id="zodiac" name="zodiac" value="virgo">
        <label for="virgo">Virgo</label><br>

        <input type="radio" id="zodiac" name="zodiac" value="libra">
        <label for="libra">Libra</label><br>

        <input type="radio" id="zodiac" name="zodiac" value="scorpio">
        <label for="scorpio">Scorpio</label><br>

        <input type="radio" id="zodiac" name="zodiac" value="sagittarius">
        <label for="sagittarius">Sagittarius</label><br>
      </div>

      <div class="form-group">
        <label for="special_needs"><h2>Special needs?</h2></label><br>
        <input type="checkbox" id="special_needs" name="special_needs" value="true" /><br>
      </div>

      <div class="form-group">
        <label for="adoptable_now"><h2>Adoptable now?</h2></label><br>
        <input type="checkbox" id="adoptable_now" name="adoptable_now" value="true" /><br>
      </div>

      <div class="form-group">
        <label for="contact_email"><h2>Contact email:</h2></label>
        <input class="form-input" type="text" id="contact_email" name="contact_email" />
      </div>

        <div class="form-group width='400px' height='200'">
        <div class="row">
          <div class="col-sm-8 mt-3">

            <form
              class="mt-4"
              action="/upload"
              method="POST"
              enctype="multipart/form-data"
            >
              <div class="form-group">
                <input
                  type="file"
                  name="file"
                  id="input-files"
                  class="form-control-file border"
                />
              </div>
            </form>
          </div>
        </div>
        <hr />
        <div class="row">

          <div class="col-6">

        
            <div class="col-sm-12">
              <div class="preview-images"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <button type="submit" form="newPetForm" class="btn btn-primary">Create</button>
      </div>
      
    </form>
  </div>

  {{#if pets.length}}
  <div class="col-md-6 pet-list">
    <h3>Current pets:</h3>

    {{#each pets as |pet|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/pet/{{pet.id}}">{{pet.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{pet.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}

</div>

<footer>
  <br>
  <br>
  <br>
</footer>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="./js/profile.js"></script>-->

