header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
#form-title {
  background-color: #7e685a;
  color: #afd275;
}

#new-pet-form {
  background-color: #c2b9b0;
}

.form-label {
  color: #d14c59;
}

#new-pet-form .btn {
  background-color: #afd275;
  width: 100%;
  border: white;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}
